
.App {
  text-align: center;
  background-color: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
/* App.css */



.app-container {
  background-image: url('./images/back1.jpg');
  background-size: cover;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to cover the entire viewport */
  overflow: hidden; /* Hide any overflow content beyond the viewport */
}


.app-content {
  max-width: 600px; /* Adjust the maximum width of the content */
  width: 100%;
  margin: 0 auto;
}

